.DailyInstructions {
    position: relative;
    background-color: #FFF;
    box-shadow: 0px 24px 24px #00000033;
    border-radius: 0.5rem;
    padding: 1rem;
    padding-bottom: 70px;
    margin-bottom: 0.8rem;
    height: calc(100vh - 140px);
    overflow-y: auto;
    overflow-x: hidden;
}

.DailyInstructions .DrillingParameterButton {
    position: absolute;
    right: 20px;
    background-color: #00A1D5;
    border-radius: 32px;
    font-size: 16px;
    padding: 8px 16px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    outline: none;
    cursor: pointer;
    border: none;
}


.DailyInstructions .Title {
    margin-bottom: 2rem;
}

.DailyInstructions .Title h5 {
    font-weight: normal;
    color: #4B4E53;
    padding-left: 3rem;
}