.CheckboxContainer {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Checkbox {
    width: 24px;
    height: 24px;
    opacity: 1;
}

.Checked {
    display: none;
}

.Checkbox:checked+.Checked {
    display: inline;
}

.Checkbox:checked {
    opacity: 0;
}