.ProcedureHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary-dark);
    padding: 8px 0;
    box-shadow: 0px 3px 6px #00000033;
    opacity: 1;
}

.ProcedureHeader .Header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.ProcedureHeader .Header .Title {
    color: #F8BD00;
    line-height: 1;
    padding: 4px 20px;
}

.Description {
    color: #fff;
    font-size: 12px;
    padding: 0px 20px;
    border-left: 1px solid;
}

.OpenAllContainer {}