.HandoverStatus {
    margin: 1rem 0;
    display: flex;
    align-items: center;
}


.HandoverStatus>* {
    margin: 0;
    padding: 0;
}

.HandoverStatus hr {
    width: 100%;
}


.TimeLine {

    display: flex;
    align-items: center;
}

.Pointer {
    width: 20px;
    height: 20px;
    background-color: #CCCCCC;
    border-radius: 10px;
}

.Completed {
    color: #2ECC40;
    background-color: #2ECC40;
    border-color: #2ECC40;
}

.ProgressIndicator {
    background-color: #000;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    padding: 2px 6px;
    border-radius: 4px;
    position: absolute;
    margin-top: 15px;
    left: 95%;
}