/* Dp-home */
.home-container {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 24px 24px #00000033;
    border-radius: 12px;
    opacity: 1;
    margin-top: 5rem;
    padding: 2rem;
  }
  
  ion-item {
    position: relative;
  }
  
  ion-label {
      top: 258px;
      left: 164px;
      width: 136px;
      height: 136px;
      background: #00A1D5 0% 0% no-repeat padding-box;
      opacity: 1;
      border-radius: 50%;
      z-index: 9;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    ion-label-outline {
      top: 258px;
      left: 164px;
      width: 136px;
      height: 136px;
      border: 2px solid #00546F;
      opacity: 1;
      border-radius: 50%;
      z-index: 9;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
  input {
    border: 1px solid;
    height: 46px;
    width: 100%;
    display: block;
    border-radius: 23px;
    box-sizing: border-box;
    padding-left: 50px;
    outline: none;
  }
  
  .label-text {
      width: 144px;
      font: Bold 15px/22px Quantico;
      display: inline-block;
      color: #00546F;
      margin-top: 10px;
  }
  
  .row-container {
      justify-content: center;
      text-align: center;
      display: flex;
      align-items: center;
      margin-bottom: 4pc;
      margin-top: 4pc;
  }
  
  .margin-lr {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .notification-badge {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      background:#FF4136 0% 0% no-repeat padding-box !important;
      padding: 0 !important;
      color: #FFFFFF;
      position: fixed;
      right: 14pc;
      border: none;
  }