.Button {
    background-color: transparent;
    font-weight: 600;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    height: 50px;
    font-size: 20px;
}


.Theme {
    color: #4B4E53;
    background-color: #F8BD00;
    min-width: 200px;
    font-weight: 600;
}

.Success {
    background-color: #2ECC40;
    padding: 0 1.2rem;
    color: #FFF;
}

.Primary {
    background-color: #00A1D5;
    color: #FFF;
}

.Secondary {
    background-color: #CCCCCC;
}


.Danger {
    color: #944317;
}