.Naviation {
    display: flex;
    align-items: center;
    height: 5rem;
    margin: 0 0 0.5rem 0;
    color: #FFF;
}

.Notification {
    width: 14px;
    height: 14px;
    color: red;
    background-color: red;
    position: absolute;
    top: -5px;
    right: 0;
    border-radius: 50%;
    border: 2px solid #00546F;
}

.Title {
    margin: 0rem auto 0rem 1rem;
    /* margin-left: 0.5rem;
    margin-right: auto; */
}

.SignOut,
.User {
    position: relative;
    background-color: #F8BD00;
    color: #00546F;
    box-sizing: border-box;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 18px;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
    cursor: pointer;
}