.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Heading {
    font-family: 'Quantico';
    font-weight: bold;
    color: #00546F;
    font-size: 24px;
    line-height: 1;
    margin-right: auto;
}

.SubmittedBy {
    font-family: 'Titillium Web';
    font-size: 14px;
    line-height: 1.2;
}