.Heading {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: #F2F2F2;
    margin: -0.8rem -0.8rem 0 -0.8rem;
    padding: 0.4rem 0.8rem;
    border-bottom: 1px solid #efefed;
}