* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --color-primary: #005595;
  --color-primary-dark: #00546F;
}

/* Font Size: 62.5 => 1rem = 10px; */
body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400px;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #4B4E53;
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quantico';
}
/* a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {

  color: #0056b3;
  text-decoration: underline;
} */

.form-group {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.Input {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.Input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
}

/* 
.table thead tr:last-child td:first-child {
  border-top-left-radius: 10px;
}

.table thead tr:last-child td:last-child {
  border-top-right-radius: 10px;
}

.table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
} */

.table-content .table-bordered thead th {
  border-bottom-width: 1px;
  background: #F2F2F2;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background: #F2F2F2;
}

.table td,
.table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
  text-align: left;
}